<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.e3mall.search.mapper.ItemMapper">
  <resultMap id="searchItem" type="cn.e3mall.common.pojo.SearchItem">
    <result column="id"  property="id" />
    <result column="title"  property="title" />
    <result column="name"  property="categoryName" />
    <result column="sell_point" property="sellPoint"/>
    <result column="price" property="price" />
    <result column="image"  property="image"/>
  </resultMap>
  <select id="getSearchItem" resultMap="searchItem">
  	SELECT
	tb_i.id,
	tb_i.title,
	tb_i.sell_point,
	tb_i.price,
	tb_i.image,
	tb_ic.name
	FROM
		tb_item AS tb_i
	LEFT JOIN tb_item_cat AS tb_ic ON tb_i.cid = tb_ic.id
	WHERE
		tb_i. STATUS = 1
  </select>
</mapper>